{% extends "base.html" %}
{% block content %}
<style>
    body {
    background-image: url("static/images/liuks.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
</style>
<div class="center">
    <h1 style="font-size:70px">C♥RDSPITAL</h1>
    <h1></h1>
    <br>
    <h1 style="font-size:30px">Mūsų tikslas – prevencinė programa užtikrinanti širdies ir kraujagyslių lygų
        mažinimą</h1>
    <br>
    <div style="width:75%; margin:auto">
        <p style="font-size:25px"> Pagal sergamumo ir mirtingumo nuo širdies ir kraujagyslių ligų rodiklius Lietuva
            priklauso didelės rizikos zonai. Dėl šių ligų mūsų šalyje kasmet įvyksta 56,1 procentas visų mirčių.
            Lietuvoje,
            kaip ir daugelyje didelės rizikos šalių, aterosklerozė ir jos sukeliamos kardiovaskulinės sistemos ligos
            įgavo sunkiai valdomos epidemijos mastą, nežiūrint moderniausių diagnostikos ir gydymo priemonių.
            Lietuvos gyventojų mirtingumas nuo koronarinės širdies ligos, insulto – vienas didžiausių Europoje,
            kardiovaskulinio sergamumo ir mirtingumo rodikliai beveik 2–3 kartus blogesni už Europos Sąjungos
            vidurkius. Dažnai miršta darbingo amžiaus, energingi žmonės, daugybė susirgusiųjų lieka neįgalūs.
            Neretai mirtis įvyksta staiga, netikėtai. Koronarinė širdies liga Lietuvoje jaunėja.
        </p>
        <br>
        <h1 style="font-size:30px">Pasitelkus naujausią „<i>Machine learning</i>“
            technologiją, mūsų pelno nesiekianti organizacija, padės Jūsų pacientams sutikti rytojų</h1>
    </div>
</div>
{% endblock %}